<!--<mat-toolbar>
  <button mat-icon-button *ngIf="sidenav.mode==='over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">
      menu
    </mat-icon>
    <mat-icon *ngIf="!sidenav.opened">
      close
    </mat-icon>
  </button>


  Responsive sidebar navigation


</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav">
    <button mat-button class="menu-button">
      <mat-icon>home</mat-icon>
      <span>Home</span>

    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z4">
      Main content
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>-->

<mat-toolbar>
  <mat-toolbar-row>
    <button mat-button (click)="opened=!opened">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar-row>
  <div class="heading">
    <h1>UNEEKLI</h1>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav [(opened)]="opened" mode="over">
    <div class="profile">
      <img src="assets/default.png">
      <h3>Hello, Surya</h3>
    </div>
    <hr style="margin-top: 5px;color:black;">
    <ul>
      <li><a href="#"><span class="icon"><i class="fa fa-sticky-note"></i></span>
          <span class=" item">Customize View</span></a></li>
      <li><a href="#"><span class="icon"><i class="fa fa-filter"></i></span><span class="item">Filter
            Results</span></a></li>
      <li><a href="#"><span class="icon"><i class="fa fa-download"></i></span><span class="item">Download
            CSV</span></a></li>
      <li><a href="#"><span class="icon"><i class="fa fa-key"></i></span><span class="item">Keyword
            Cloud</span></a></li>
      <li><a href="#"><span class="icon"><i class="fa fa-line-chart"></i></span><span class="item">Search
            Trends</span></a></li>
      <li><a href="#"><span class="icon"><i class="fa fa-file-image-o"></i></span><span class="item">Download
            Screenshot</span></a></li>
    </ul>

    <div class="bottom-content">
      <hr style="margin-top: 20px;color:black;">
      <ul>
        <li><a href="#"><span class="icon"><i class="fa fa-question-circle-o"></i></span><span
              class="item">Help</span></a>
        </li>
        <li><a href="#"><span class="icon"><i class="fa fa-cogs"></i></span><span class="item">Account
              Settings</span></a></li>
        <li><a href="#"><span class="icon"><i class="fa fa-sign-out"></i></span><span class="item">Log
              Out</span></a></li>
      </ul>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <section id="about">
      <div class="container">


        <div class="search-box">
          <form>
            <button type="submit"><i class="fa fa-search"></i></button>
            <input type="text" placeholder="Search" />
            <button type="submit"><i class="fa fa-microphone"></i></button>
          </form>
        </div>

        <div class="Departments">
          <h1> Try Performing a Search</h1>
          <br>
          <p>1.Click on the search bar above</p>
          <br>
          <p>2.Enter a product idea</p>
          <br>

          <p>3. Click on the icon to view the listing information</p>



        </div>

      </div>
    </section>

  </mat-sidenav-content>
</mat-sidenav-container>